.test {
  color: blue;
}
.profile{
  width: 300px;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #c2c2c2;
  box-shadow:  0 0 2px rgba(0,0,0,0.2);
}
.description{
 padding-bottom: 50px;
}
.avatar{
  width: 150px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  background-color: #e0e0e0;
}
.name{
  color: #161616;
  font-weight: 700;
}
.tag, .location{
  margin-top: 15px;
}

.statistic{
display: flex;
justify-content: center;
background-color:#dddddd ;
border-top: solid 1px #c2c2c2;
}
.statistic li{
width: 100px;
padding-top: 20px;
padding-bottom: 20px;
}
.statistic li:not(:last-child){
 border-right:solid 1px #c2c2c2;
}
.label{
  display: block;
  color:  #b1b0b0;
}
.quantity{
  font-weight: 700;
}